extends ../layout

block content
  a(href='/bicicletas/create') Nueva Bicicleta
  table.table.table-responsive.table-bordered
    thead
      tr
        th ID
        th Color
        th Modelo
        th Ubicacion
        th
        th
    tbody
     each bici in bicis
      tr
       td(scope='row')= bici.id
       td= bici.color
       td= bici.modelo
       td= bici.ubicacion
       td
        a(href='bicicletas/' + bici.id + '/update') Actualizar
       td
        form.inline(method='post' action='bicicletas/' + bici.id + '/delete')
          input(type='hidden' name= 'id' value= bici.id)
          button.link-button(type='submit' name='submit_param' value='submit_value' class='btn')
            = 'Eliminar'
