extends ../layout
block content
  a(href='/bicicletas') volver
  .container
    .row
      .col-md-12
        .well.well-sm
          form.form-horizontal(method='post')
            fieldset
              legend.text-center.header Actualizar Bicicleta
              .form-group
                span.col-md-1.col-md-offset-2.text-center
                  label(for='id') ID:
                .col-md-8
                  input#fname.form-control(name='id', type='text', value= bici.id)
              .form-group
                span.col-md-1.col-md-offset-2.text-center
                  label(for='color') Color:
                .col-md-8
                  input#lname.form-control(name='color', type='text', value=bici.color)
              .form-group
                span.col-md-1.col-md-offset-2.text-center
                  label(for='modelo') Modelo:
                .col-md-8
                  input#email.form-control(name='modelo', type='text', value=bici.modelo)
              .form-group
                span.col-md-1.col-md-offset-2.text-center
                  label(for='lat') Latitud:
                .col-md-8
                  input#phone.form-control(name='lat', type='text', value=bici.ubicacion[0])
              .form-group
                span.col-md-1.col-md-offset-2.text-center
                  label(for='lng') Longitud:
                .col-md-8
                  input#phone.form-control(name='lng', type='text', value=bici.ubicacion[1])
              .form-group
                .col-md-12.text-center
                  button.btn.btn-primary.btn-lg(type='submit') Enviar
